* {
    box-sizing: border-box;
}
/* .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
} */
.gallery {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
}

.gallery img {
    height: auto;
    width: 20%;
    margin: 10px;
    padding: 20px;
}